<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Thermostat</title>
    <script src="./src/Thermostat.js" type="text/javascript"></script>
  </head>
  <body>

    <button id="temperature-up">Turn Up</button> &nbsp &nbsp<button id="temperature-down">Turn Down</button>
    <br>
    <div id="temperature"> view temp
    </div>
    <h1>Power Saving Mode</h1>
    <button id="powersaving-On">On</button>
    &nbsp &nbsp<button id="powersaving-Off">Off</button>
    <br>
    <h1>Energy Usage></h1>
    <div id="energy_usage">low/med/high</div>
    <br>
    <button id="reset">Reset</button>


  </body>
</html>
