<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Thermostat</title>
    <script src="./src/Thermostat.js" type="text/javascript"></script>
  </head>
  <body>
    <section>
    <h1 id="temperature">Current Temperature</h1>
    <br>
    <button id="temperature-up">+</button> &nbsp &nbsp<button id="temperature-down">-</button>
    <br>
    <h2>Power Saving Mode</h2>
    <button id="powersaving-On">On</button>
    &nbsp &nbsp<button id="powersaving-Off">Off</button>
    <br>
    power saving mode is <span id="power-saving-status">on</span>
    <br>
    <h2>Energy Usage</h2>
    <div id="energy_usage">low/med/high</div>
    <br>
    <button id="reset">Reset</button>

  </section>
  </body>
</html>
