<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title> Thermostat</title>
    <script src="../lib/Jquery/jQuery.js"></script>
    <script src="../src/Thermostat.js" type="text/javascript"></script>
    <script src="../src/Runner.js" type="text/javascript"></script>
  </head>
  <body>
    <section>
    <h1 id="temperature">Current Temperature</h1>
    <h1 id="current-temperature">Temp0</h1>
    <br>
    <button id="temperature-up">+</button> &nbsp &nbsp<button id="temperature-down">-</button>
    <br>
    <h2>Power Saving Mode</h2>
    <button id="powersaving-on">On</button>
    &nbsp &nbsp<button id="powersaving-off">Off</button>
    <br>
    power saving mode is <span id="power-saving-status">on</span>
    <br>
    <h2>Energy Usage</h2>
    <div id="energy-usage" style="width: 100px; height: 100px;"></div>
    <br>
    <button id="reset">Reset</button>
    <br>
    <button id="weather">Weather</button>

  </section>
  </body>
</html>
